<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
  </head>
  <body>
    {{range .}}
    <div class="item">
      <ul-->
        <li>{{.content}}</li>
        <!-- TODO: add those handlers-->
        <a href="/checkHandler/?id={{.id}}">✏️</a>
        <a href="/edit/?id={{.id}}">✏️</a>
        <a href="/removeHandler/?id={{.id}}">✏️</a>
      </ul>
    </div>
    {{end}}
  </body>
</html>
