<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>

    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/list.css" />
  </head>
  <body>
    <ul>
      {{range .}}
      <li class="item{{if .Checked}} checked{{end}}">
        <span class="content"> {{.Content}} </span>

        <span class="buttons">
          {{if .Checked}}
          <a href="/uncheckHandler/?id={{.ID}}">✅</a>
          {{else}}
          <a href="/checkHandler/?id={{.ID}}">❌</a>
          {{end}}

          <a href="/edit/?id={{.ID}}">✏️</a>
          <a href="/deleteHandler/?id={{.ID}}">🗑️</a>
        </span>
      </li>
      {{end}}
    </ul>
    <form action="/addHandler" method="GET">
      <input type="text" name="content" placeholder="Add new item" />
      <input type="submit" value="Add item" />
    </form>
  </body>
</html>
