<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>

    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/list.css" />
  </head>
  <body>
    <ul>
      {{range .}}
      <div class="item">
        <li>
          {{.content}}
          <!-- TODO: add those handlers-->
          {{if .Checked}}
          <a href="/uncheckHandler/?id={{.id}}">✅</a>
          {{else}}
          <a href="/checkHandler/?id={{.id}}">❌</a>
          {{end}}

          <a href="/edit/?id={{.id}}">✏️</a>
          <a href="/removeHandler/?id={{.id}}">🗑️</a>
        </li>
      </div>
      {{end}}
    </ul>
    <form action="/addHandler" method="GET">
      <input type="text" name="content" placeholder="Add new item" />
      <input type="submit" value="Add item" />
    </form>
  </body>
</html>
