<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/form.css" />

    <script src="/scripts/validateForm.js" defer></script>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/loginauth" method="POST" onsubmit="return validate()">
      <span>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" />
      </span>
      <span>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
      </span>

      <span id="error"> {{if .}} {{.}} {{end}} </span>

      <input type="submit" value="Login" />
    </form>
  </body>
</html>
